SERVER_PORT=5000
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/eqms-database
SPRING_DATASOURCE_USERNAME=eqms
SPRING_DATASOURCE_PASSWORD=eqms
SPRING_JPA_SHOW_SQL=false
APP_PUBLIC_URL=http://localhost:3000
APP_MINIO_ENABLED=true
APP_MINIO_ENDPOINT=http://localhost:9000
APP_MINIO_ACCESS_KEY=eqms-minio
APP_MINIO_SECRET_KEY=eqms-minio-secret
APP_MINIO_BUCKET=eqms-gmp-revisions
APP_MINIO_BASE_PATH=revisions
APP_MINIO_RETENTION_YEARS=5
